body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 7px 12px;
    font-size: 25px;
    height: 60px
}  
.navbar__logo {
    font-size: 40px;
    color: white;
}

.navbar_logo i {
    color: #b97f01;
}
.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 12px 12px;
}

.navbar_menu li:hover {
    background-color: #3c4249;
    border-radius: 5px;
}

ul, ol, dl {
    list-style:none;
}

img, video {
    max-width:100%;
    border:0;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

input, select {
    vertical-align:middle;
}

label {
    cursor:pointer;
}

i, em, address {
    font-style:normal;
    font-weight:normal;
}

.slide {
    text-align: center;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    display: block;
    height:100%;
    filter: brightness(50%);
}

.slide_ul {
    display: block;
}

.slide_ul>li {
    position:absolute;
    top:0;
    left:0;
    list-style:none;
    z-index:10;
    display: block;
}

li {
    list-style: none;
}

.show {
    display:block;
}

.bottom {
    color: rgb(199, 199, 199);
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    line-height: 30px;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}