body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Do Hyeon', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body img {
    position: relative;
    width: 1920px;
    height: 650px;
    filter: brightness(60%);
}

.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    background-color: #272727;
    padding: 7px 30px;
    font-size: 28px;
    width: 100%;
    height: 60px;
    z-index: 500;
    letter-spacing: 4px;
} 

.navbar__logo {
    font-size: 40px;
    color: white;
}

.navbar_logo i {
    color: #b97f01;
}

.main_text>h1 {
    color: white;
    position: absolute;
    text-align: center;
    line-height: 30px;
    width: 1920px;
    height: 30px;
    top: 200px;
    font-size: 70px;
    letter-spacing: 5px;
}

.main_text>p {
    color: aliceblue;
    position: absolute;
    text-align: center;
    line-height: 80px;
    width: 1920px;
    height: 30px;
    top: 350px;
    font-size: 30px;
    letter-spacing: 8px;
}

.content {
    display: inline-block;
    position: fixed;
    border: 2px solid rgb(63, 63, 63);
    box-shadow: 3px 3px 3px 3px gray;
    right: 50px;
    bottom: 150px;
    text-align: center;
    padding: 8px;
    z-index: 999;
}

.content a {
    font-family: 'Do Hyeon', sans-serif;
    color: rgb(54, 54, 54);
    font-size: 25px;
    padding: 10px 20px;
    line-height: 50px;

}

.content a:hover {
    text-shadow: 0 0 24px;
    cursor: pointer;
}

.content a:focus {
    text-shadow: 0 0 24px;
    cursor: pointer;
    outline: none;
}

.button1 {
    position: relative;
    text-align: center;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.button2 {
    position: relative;
    text-align: center;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.button3 {
    position: relative;
    text-align: center;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 30px;
}

h1 {
    position: relative;
    font-size: 30px;
    padding-top: 100px;
    padding-left: 20px;
    letter-spacing: 5px;
}

.bottom {
    color: rgba(189,184, 184, 0.925);
    position: relative;
    width: 1920px;
    height: 138px;
    top: 100px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 2px;
}