body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  padding: 7px 30px;
  font-size: 25px;
  height: 60px;
  width: 1860px;
  position: absolute;
  z-index: 500;
}
.navbar__logo {
  font-size: 40px;
  color: white;
}

.navbar_logo i {
  color: #b97f01;
}
.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 12px 12px;
}

.navbar_menu li:hover {
  background-color: #3c4249;
  border-radius: 5px;
}

ul,
ol,
dl {
  list-style: none;
}

img,
video {
  max-width: 100%;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

label {
  cursor: pointer;
}

i,
em,
address {
  font-style: normal;
  font-weight: normal;
}

.slide {
  text-align: center;
  position: fixed;
  width: 1920px;
  margin: 0 auto;
  display: block;
  height: 888px;
  filter: brightness(50%);
}

.slide_ul {
  display: block;
}

.slide_ul > li {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  z-index: 10;
  display: block;
}

li {
  list-style: none;
}

.show {
  display: block;
}

.slide_btn {
  visibility: hidden;
}

.bottom {
  color: rgb(199, 199, 199);
  position: absolute;
  width: 1920px;
  height: 138px;
  top: 900px;
  text-align: center;
  line-height: 30px;
}

.create-page {
  position: absolute;
  width: 700px;
  margin: auto;
  top: 170px;
  left: 620px;
}

.form {
  position: absolute;
  z-index: 1;
  background: #00000081;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  position: relative;
  outline: 0;
  background: #f2f2f2;
  width: 600px;
  height: 70px;
  border: 0;
  margin: 10px 0 40px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: #b97f01;
  width: 600px;
  height: 70px;
  border: 0;
  padding: 20px;
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #b97f01;
}

input[type="radio"] {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

input[type="radio"] + label {
  margin: 10px 98px 25px;
  padding: 0.75em 1.5em;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #ddd;
  background-color: #fff;
  line-height: 140%;
  text-align: center;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: #b97f01;
  color: #fff;
  border-color: #b97f01;
  z-index: 1;
}
