body {
    margin: 0;
    font-family: 'Do Hyeon', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272727;
    padding: 7px 30px;
    font-size: 25px;
    height: 60px;
    width: 1860px;
    position: absolute;
    z-index: 500;
    font-weight: 500;
}  
.navbar__logo {
    font-size: 40px;
    color: white;
}

.navbar_logo i {
    color: #b97f01;
}
.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 12px 12px;
}

.navbar_menu li:hover {
    background-color: #dadada;
    border-radius: 5px;
}

ul, ol, dl {
    list-style:none;
}

img, video {
    max-width:100%;
    border:0;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

input, select {
    vertical-align:middle;
}

label {
    cursor:pointer;
}

i, em, address {
    font-style:normal;
    font-weight:normal;
}

.slide {
    text-align: center;
    position: fixed;
    width: 1920px;
    margin: 0 auto;
    display: block;
    height: 888px;
    filter: brightness(50%);
}

.slide_ul {
    display: block;
}

.slide_ul>li {
    position:absolute;
    top:0;
    left:0;
    list-style:none;
    z-index:10;
    display: block;
}

.slide_btn {
    visibility: hidden;
}

li {
    list-style: none;
}

.show {
    display:block;
}

/* modal */
.hidden {
    display:none;
    visibility:hidden;
}

.wrap {
    display:block;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
    padding-top:55px;
}

.button {
    background-color: rgba(46, 45, 45, 0.692);
    position: absolute;
    height: 90px;
    width: 300px;
    margin: -150px 0px 0px -200px;
    top: 800px;
    left: 1000px;
    padding: 0;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    line-height: 90px;
    color: white;
    cursor: pointer;
}

.modal-body {
    position: relative;
    padding: 10px 50px 50px;
    display: inline-block;
    font-size: 20px;
    line-height: 65px;
}

.box_modal {
    position:fixed;
    display:inline-block;
    vertical-align: middle;
    width:600px;
    height:700px;
    top:130px;
    left:660px;
    background:#ffffffe0;
    overflow:hidden;
    visibility: collapse;
    filter: alpha(opacity=60);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
}

.closer {
    position:absolute;
    width:50px;
    height:50px;
    top:10px;
    right:10px;
    border-left:1px;
    border-bottom:1px;
    text-align:center;
    line-height:26px;
    font-size:40px;
    cursor:pointer;
    padding: 20px;
}

.text h3 {
    font-size:30px;
    margin:30px 40px 30px;
}

input#modal[type=checkbox]:checked ~ .box_modal {
    visibility: visible;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

.bottom {
    color: rgb(199, 199, 199);
    position: absolute;
    width: 1920px;
    height: 138px;
    top: 900px;
    text-align: center;
    line-height: 30px;
}

.modal_input label {
    display: inline-block;
    width:100px;
    text-align: right;
}

.modal_input input{
    width: 350px;
    height: 20px;
}

.modal_input_t input{
    width: 350px;
    height: 80px;
}

.modal_input_t label {
    display: inline-block;
    width:100px;
    text-align: right;
}

.modal_input_d input{
    width: 172px;
    height: 20px;
}

.modal_input_d label {
    display: inline-block;
    width:100px;
    text-align: right;
}

.modal_input_a select{
    width: auto;
    height: 20px;
}

.modal_input_a label {
    display: inline-block;
    width:100px;
    text-align: right;
}

.btn {
    font-family: 'Do Hyeon', sans-serif;
    position: relative;
    text-decoration: none;
    border: none;
    width: 500px;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 25px;
    margin: 40px 0;
    cursor: pointer;
}