<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/about.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="../js/about.js"></script>
    <script
        src="https://kit.fontawesome.com/ab92c38314.js"
        crossorigin="anonymous">
    </script>
    <title>SpaceShare</title>
</head>
    <body>
        <nav class="navbar">
            <div class="navbar_logo">
                <i class="fas fa-warehouse"></i>
                <a href="../html/main.html">SpaceShare</a>
            </div>
            <ul class="navbar_menu">
                <li><a href="../html/main.html">Home</a></li>
                <li><a href="../html/about.html">About Us</a></li>
                <li><a href="">Notice</a></li>
                <li><a href="">My Page</a></li>
            </ul>
        </nav>
        <div class="slide">
            <ul class="slide_ul">
            <li><a><img src="../img/slide_1.jpg"></a></li>
            <li><a><img src="../img/slide_2.jpg"></a></li>
            <li><a><img src="../img/slide_3.jpg"></a></li>
            <li><a><img src="../img/slide_4.jpg"></a></li>
            <li><a><img src="../img/slide_5.jpg"></a></li>
            </ul>
        </div>
        <div class="intro">
            <div class="box">
                <p>"Use SpaceShare when you need a meeting place that is perfect for us, from study rooms, seminar rooms and practice rooms."</p>
            </div>
            <div class="box">
                <p>"Reserve the meeting space using the calendar!
                    Various types of spaces are being shared through SpaceShare."</p>
            </div>
            <div class="box">
                <p>"All about space rental, SpaceShare makes rentals easy and convenient for people to communicate and meet."</p>
            </div>
        </div>
        <div class="bottom">
            <hr>
            Borama Charmand, 227, Bongcheon-ro, Gwanak-gu, Seoul</br>
            Representative: Seunghwan Kim | Business registration number 168-87-00758</br>
            Hours of Operation: Mon-Fri 07:00~23:00 / Sat 09:00~18:00 (Closed on Sundays and public holidays)</br>
            © SpaceShare
        </div>
    </body>
</html>