{% extends "base.html" %}
{% block section %}
<div class="slide">
    <ul class="slide_ul">
        <li><a><img src="{{ url_for('static', filename='img/slide_1.jpg') }}"></a></li>
        <li><a><img src="{{ url_for('static', filename='img/slide_2.jpg') }}"></a></li>
        <li><a><img src="{{ url_for('static', filename='img/slide_3.jpg') }}"></a></li>
        <li><a><img src="{{ url_for('static', filename='img/slide_4.jpg') }}"></a></li>
        <li><a><img src="{{ url_for('static', filename='img/slide_5.jpg') }}"></a></li>
    </ul>
</div>
<div class="intro">
    <div class="box">
        <p>"Use SpaceShare when you need a meeting place that is perfect for us, from study rooms, seminar rooms and practice rooms."</p>
    </div>
    <div class="box">
        <p>"Reserve the meeting space using the calendar!
            Various types of spaces are being shared through SpaceShare."</p>
    </div>
    <div class="box">
        <p>"All about space rental, SpaceShare makes rentals easy and convenient for people to communicate and meet."</p>
    </div>
</div>

{% endblock %}
