<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}">
    <!-- 로그인 (login.html) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
    <!-- 회원가입 (create.html)--> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
    <!--홈페이지 소개 (about.html)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/about.js') }}"></script>
    <!--학생페이지 (student.html)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' filename='vendor/css/fullcalendar.min.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static' filename='vendor/css/bootstrap.min.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static' filename='vendor/css/select2.min.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static' filename='vendor/css/bootstrap-datetimepicker.min.css')}} ">
    <script type="text/javascript" src="{{ url_for('static' filename='vender/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static' filename='vender/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static' filename='vender/js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static' filename='vender/js/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static' filename='vender/js/ko.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static' filename='vender/js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static' filename='vender/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/addEvent.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/editEvent.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/etcSetting.js') }}"></script>
    <script>
      function openNav() {
        document.getElementById('mysidenav').style.width = '250px';
      }
      function closeNav() {
        document.getElementById('mysidenav').style.width = '0';
      }
    </script>
    <!--선생님페이지 (teacher.html)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' filename='vendor/css/fullcalendar.min.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static' filename='vendor/css/bootstrap.min.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static' filename='vendor/css/select2.min.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static' filename='vendor/css/bootstrap-datetimepicker.min.css')}} ">
    <script type="text/javascript" src="{{ url_for('static' filename='vender/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static' filename='vender/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static' filename='vender/js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static' filename='vender/js/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static' filename='vender/js/ko.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static' filename='vender/js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static' filename='vender/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/addEvent.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/editEvent.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/etcSetting.js') }}"></script>
    <script>
      function openNav() {
        document.getElementById('mysidenav').style.width = '250px';
      }
      function closeNav() {
        document.getElementById('mysidenav').style.width = '0';
      }
    </script>
    <!--logo 불러오기-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mainpage.js') }}"></script>
    <script
      src="https://kit.fontawesome.com/ab92c38314.js"
      crossorigin="anonymous">
    </script>
    <title>base</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
          <i class="fas fa-warehouse"></i>
          <a href="/">SpaceShare</a>
        </div>
        <ul class="navbar_menu">
          <li><a href="/">Home</a></li>
          <li><a href="about">About Us</a></li>
          <li><a href="">Notice</a></li>
          <li><a href="">My Page</a></li>
        </ul>
    </nav>
    <section>
        {% block section %}
        {% endblock %}
    </section>

    <div class="bottom">
        <hr>
        Borama Charmand, 227, Bongcheon-ro, Gwanak-gu, Seoul</br>
        Representative: Seunghwan Kim | Business registration number 168-87-00758</br>
        Hours of Operation: Mon-Fri 07:00~23:00 / Sat 09:00~18:00 (Closed on Sundays and public holidays)</br>
        © SpaceShare
      </div>
</body>
</html>