{% extends "base.html" %}
{% block section %}

<div class="slide">
    <ul class="slide_ul">
        <li><a><img src="{{ url_for('static', filename='img/slide_1.jpg') }}" alt="slide_img_1"></a></li>
        <li><a><img src="{{ url_for('static', filename='img/slide_2.jpg') }}" alt="dane"></a></li>
        <li><a><img src="{{ url_for('static', filename='img/slide_3.jpg') }}" alt="dane"></a></li>
        <li><a><img src="{{ url_for('static', filename='img/slide_5.jpg') }}" alt="dane"></a></li>
        <li><a><img src="{{ url_for('static', filename='img/slide_4.jpg') }}" alt="dane"></a></li>
    </ul>
</div>
<div class="button_1" OnClick="location.href ='http://127.0.0.1:5501/html/choice.html'">
    <i class="fas fa-user-tie fa-5x"></i>
</div>
<div class="button_2" OnClick="location.href ='http://127.0.0.1:5501/html/choice.html'">
    <i class="fas fa-users fa-5x"></i>
</div>

{% endblock %}