{% extends "base.html" %}
{% block section %}
<div class="slide">
    <ul class="slide_ul">
    <li><a><img src="{{ url_for('static', filename='img/slide_1.jpg') }}"></a></li>
    <li><a><img src="{{ url_for('static', filename='img/slide_2.jpg') }}"></a></li>
    <li><a><img src="{{ url_for('static', filename='img/slide_3.jpg') }}"></a></li>
    <li><a><img src="{{ url_for('static', filename='img/slide_5.jpg') }}"></a></li>
    <li><a><img src="{{ url_for('static', filename='img/slide_4.jpg') }}"></a></li>
    </ul>
</div>
<div class="login-page">
    <div class="form">
    <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
    </form>
    <form class="login-form" method="POST">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <button type="submit">login</button>
        <p class="message">Not registered? <a href="create">Create an account</a></p>
    </form>
    </div>
</div>
{%with messages = get_flashed_messages()%}
{%if messages%}
    <script type="text/javascript">
        alert("{{messages[0]}}");
    </script>
{%endif%}
{%endwith%}

{% endblock %}
