<!-- 부트스트랩을 이용한 모달과 예약 폼 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약하기 모달폼</title>
    <link rel="stylesheet" href="/static/modal/css/bootstrap.css">
    <link rel="stylesheet" href="/static/modal/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/static/modal/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/modal/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/static/modal/css/jquery-ui-timepicker-addon.css">
</head>
<body>
    <!-- ============================================================================ -->
    <!-- base.html에 nav가 있으면 냅두고 없으면 nav작성 권장 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <!-- ============================================================================ -->

    <div class="container-fluid">
    <div class="row">
    <!-- 사이드 바 메뉴================================================================-->
    <div class="col-md-3">
        
          <!-- 패널 타이틀1 -->
        <div class="panel panel-defalut">
            <div class="panel-heading">
              <h3 class="panel-title">
                  <i class="glyphicon glyphicon-leaf"></i>
                  <span>메뉴제목입니다~ </span>
              </h3>
            </div>
            <!-- 사이드바 메뉴목록1 -->

            <ul class="list-group">
              <li class="list-group-item"><a href="#">내 페이지</a></li>
              <li class="list-group-item"><a href="#">예약하기</a></li>
              <li class="list-group-item"><a href="#">아무값이나 입력</a></li>
            </ul>

        </div>
    </div>
    <!-- 사이드 바 메뉴================================================================-->


    
    <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-4">지금 예약하세요!</h1>
            <p class="lead">클래스는 열고싶은데 마땅히 찾을 방이 없는 분들은 등록하세요!</p>
            <hr class="my-4">
            <h2>임시로 만든 페이지입니다. 주제에 맞추어 작성권장합니다</h2>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. 
                It has roots in a piece of classical Latin literature from 45 BC, 
                making it over 2000 years old. Richard McClintock, a Latin professor 
                at Hampden-Sydney College in Virginia, looked up one of the more obscure
                 Latin words, consectetur, from a Lorem Ipsum passage, and going through 
                 the cites of the word in classical literature, discovered the undoubtable 
                 source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus 
                 Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC
                 . This book is a treatise on the theory of ethics, very popular during the
                  Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", 
                  comes from a line in section 1.10.32.
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                예약하기 모달 버튼</button>
            </div>
        </div>
    

    
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
        예약하기 모달 버튼</button>
    </div>  위치 때문에 주석처리-->
  
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">예약하기</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
                <!--  -->
              <div class="form-group">
                    <label for="recipient-name" class="col-form-label">이름 :</label>
                    <input type="text" class="form-control" id="recipient-name">
                    <div class="invalid-feedback"> 이름을 입력하세요!
                    </div>
              </div>
        
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address : </label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ex) name@example.com">
              </div>

              <div class="form-group">
                <label for="exampleFormControlInput1">Phone_number : </label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="010-0000-0000">
              </div>

                <label for="message-text" class="col-form-label">선택할공간 :</label>
                <select class="selectpicker">
                    <option>방1</option>
                    <option>방2</option>
                    <option>방3</option>
                  </select>

              <div class="form-group">
                <label for="message-text" class="col-form-label">내용 :</label>
                <textarea class="form-control" id="message-text" placeholder="수업내용에 대해 적어주세요!"></textarea>
              </div>

                <label for="message-text" class="col-form-label">이용날짜 :</label>
                <!-- 시작시 기본 날짜 설정은 value를 이용 -->
                <!-- <input type="text" id="datePicker" class="form-control" value="클릭하여 날짜를 선택해주세요"> -->
                <!-- <input type="text" id="datePicker" class="form-control" value="22-22-22"> -->
                <input type="text" id="Datepicker"><input type="time" min="00" max="24">
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" >등록하기</button>
              </div>
              <!--  -->
            </form>
            </div>
          </div>
        </div>
    </div>
</div>


</body>

<script src="./static/js/jquery-3.5.1.min.js"></script>
<script src="./static/js/bootstrap.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
<script src="./static/js/bootstrap-datepicker.js"></script>
<script src="./static/js/bootstrap-datepicker.ko.js"></script>
<script src="./static/js/jquery-ui-timepicker-addon.js"></script>



<script>
    $(function() {
    $( "#Datepicker" ).datepicker({
        format : "yyyy-mm-dd",
        changeMonth : true,
        changeYear : true,
        nextText: '다음 달',
        prevText: '이전 달',
        showButtonPanel: true,
        // currentText: '오는 날짜',
        closeText : '닫기',
        dayNames: ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일'],
        dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'], 
        monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
        monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월']
    });
});
</script>
</body>
</html>