{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/revise.css') }}">
{% endblock %}

{% block section %}

<div class="revise-page">
    <div class="form">
    <form action="/register" method="POST">
        <input type="text" placeholder="이름" name="name">
        <input type="text" placeholder="아이디" name="username">
        <input type="password" placeholder="비밀번호" name="password">
        <input type="text" placeholder="전화번호" name=phone>
        <button type="submit">수정하기</button>
    </form>
    </div>
</div>

{% endblock %}